.nav-bar__cart {
  display: flex;
  padding: 0 10px;
  background-color: #F8F9FA;
}

.nav-bar__cart__img {
  height: 50px;
}

.nav-bar__item-count {
  color: #F8F9FA;
}

.nav-bar__item-count__none {
  display: none;
}