@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.main-container {
  border: 2px solid #282c34;
  width: 400px;
  height: 400px;
  margin: 50px;
}

.item__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__cover__img {
  max-width: 250px;
  margin-top: 25px;
}

.item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__info__title, .item__info__artist, .item__info__price {
  font-family: 'Joan', 'serif';
  color: #282c34;
  margin: 0;
  padding: 2px 0;
  text-align: center;
}

.item__info__artist {
  font-weight: 200;
}