@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Joan', serif;
  text-decoration: none;
  color: #F8F9FA;
}

a:hover {
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 25px 10px;
  background-color: #212529;
}

.nav-bar__brand {
  display: flex;
  flex-direction: row;
  background-color: #F8F9FA;
  padding: 0 10px;
}

.nav-bar__brand__logo {
  height: 50px;
}

.nav-bar__menu {
  display: flex;
  background-color: #212529;
}

.nav-bar__menu__list {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar__menu__list__item {
  margin: 0 50px;
  padding: 0 20px;
}