@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.items-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-list-container__greeting {
  text-align: center;
}

.items-list-container__greeting__main, .items-list-container__greeting__message {
  font-family: 'Joan', 'serif';
}

.items-list-container__greeting__message {
  font-weight: 200;
}

.items-list-container__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}