@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.main-counter {
  display: flex;
  justify-content: center;
}

.item-count__container {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px 25px;
  border: 2px solid #282c34;
}

.item-count__container__counter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-count__container__counter__quantity {
  font-family: 'Joan', 'serif';
}

.item-count__container__counter__number {
  font-family: 'Joan', 'serif';
}

.item-count__container__counter__add-btn, .item-count__container__counter__remove-btn {
  color: #F8F9FA;
  background-color: #212529;
  border: none;
  min-width: 21px;
  min-height: 21px;
  cursor: pointer;
}

.item-count__container__cart {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item-count__container__cart__add, .item-count__container__cart__finish {
  color: #F8F9FA;
  background-color: #212529;
  border: none;
  min-width: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Joan', 'serif';
  cursor: pointer;
}

